#include <winver.h>

VS_VERSION_INFO	VERSIONINFO
FILEVERSION 	NUMERIC_VERSION
PRODUCTVERSION	NUMERIC_VERSION
#ifdef DEBUG_ENABLED
FILEFLAGS	(VS_FF_DEBUG | VS_FF_PRERELEASE)
#else
FILEFLAGS	VS_FF_PRERELEASE
#endif
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_DLL
FILESUBTYPE	VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN 
		BLOCK "040904E4"
		BEGIN
		VALUE "CompanyName",	AUTHOR
		VALUE "FileDescription", DESCRIPTION " for Kadu"
		VALUE "LegalCopyright", AUTHOR
		VALUE "FileVersion", VERSION
		VALUE "Comments", BUILD_DESCRIPTION
		END
	END
#ifdef DESCRIPTION_PL
	BLOCK "StringFileInfo"
	BEGIN 
		BLOCK "041504B0"
		BEGIN
		VALUE "CompanyName",	AUTHOR
		VALUE "FileDescription", DESCRIPTION_PL
		VALUE "LegalCopyright", AUTHOR
		VALUE "FileVersion", VERSION
		VALUE "Comments", BUILD_DESCRIPTION
		END
	END
#endif
	BLOCK "VarFileInfo"
	BEGIN
#ifdef DESCRIPTION_PL
		VALUE "Translation", 0x0409, 1252, 0x0415, 1250
#else
		VALUE "Translation", 0x0409, 1252
#endif
	END
END
