[submodule "plugins/jabber_protocol/3rdparty/libiris"]
	path = plugins/jabber_protocol/3rdparty/libiris
	url = https://gitorious.org/kadu/iris.git
[submodule "plugins/jabber_protocol/3rdparty/libiris-win"]
	path = plugins/jabber_protocol/3rdparty/libiris-win
	url = https://gitorious.org/kadu/libiris.git
