icon1		ICON	kadu.ico

1 VERSIONINFO
FILEVERSION     0,6,6,0
PRODUCTVERSION  0,6,6,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Kadu Team"
      VALUE "FileDescription", "Kadu instant messenger"
      VALUE "FileVersion", "0.6.6"
      VALUE "InternalName", "kadu.exe"
      VALUE "LegalCopyright", "Kadu Team"
      VALUE "OriginalFilename", "kadu.exe"
      VALUE "ProductName", "Kadu"
      VALUE "ProductVersion", "0.6.6"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END
