@charset "utf-8";

@import url(./_Compact.css);
@import url(./_Alternating.css);

.outgoing .pp-sender
{
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 78px;
	padding-left: 6px;
	text-align: right;
}

.incoming .pp-sender
{
	padding-top: 5px;
	padding-bottom: 0px;
	margin-right: 6em;
	border-left: none;
	border-right: 1px solid;
	border-color: hsla(0, 100%, 50%, .3);
	padding-right: 4px;
	text-align: left;
}

.incoming .pp-messagepin
{
	position: absolute;
	right: 15px;
	margin-top: -7px;
	z-index: 99;
	background: url(../_Images/pin.png) top no-repeat;
	//border: solid 1px green;
}

.incoming .pp-photofront
{
	position: absolute;
	left: 0px;
	margin-top: -20px;
	background: url(../_Images/pin.png) top no-repeat;
}

.groupchat .outgoing .pp-photofront
{
	height: 44px;
	width: 30px;
	right: 4px;
	margin-top: 4px;
	float: right;
	display: block !important;
}

.groupchat .incoming .pp-photofront
{
	height: 44px;
	width: 30px;
	left: 4px;
	margin-top: 4px;
	float: left
	display: block !important;
}

.groupchat .outgoing,
.groupchat .incoming
{
	min-height: inherit;
}

.groupchat .outgoing pp-top,
.groupchat .incoming pp-top
{
	margin-top: -16px;
}

//

.incoming .pp-messagepin
{
	left: 40%;
}

.incoming .mention .pp-sticker
{
	right: 16px;
}

.incoming .pp-photoback
{
	float: left;
	margin-left: -5px;
	background: url(../_Images/photoback.png) top right no-repeat;
}

.incoming .pp-buddyicon
{
	left: 7px;
	padding-left: 8px;
}

.notification .incoming .pp-sender
{
	background: url(../_Images/star.png) top right repeat-x;
}

.incoming .pp-midwrapper
{
	margin-right: 6em;
}

.incoming .pp-time
{
	padding-left: .3em;
	margin-right: -6.6em;
	float: right;
	text-align: left;
}

.incoming .pp-message
{
	border-left: none;
	border-right: 1px solid;
	border-color: hsla(0, 100%, 50%, .3);
	padding-right: 4px;
	padding-left: 4px;
	text-align: right;
}

