#include <winver.h>

#ifndef _DEBUG
# define VER_DEBUG 0
#else
# define VER_DEBUG VS_FF_DEBUG
#endif

VS_VERSION_INFO	VERSIONINFO
FILEVERSION 	PLUGIN_NUMERIC_VERSION
PRODUCTVERSION	KADU_NUMERIC_VERSION
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
FILEFLAGS		VER_DEBUG
FILEOS		VOS_NT_WINDOWS32
FILETYPE	VFT_DLL
FILESUBTYPE	VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN 
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", AUTHOR "\0"
			VALUE "FileDescription", DESCRIPTION "\0"
			VALUE "LegalCopyright", AUTHOR "\0"
			VALUE "FileVersion", PLUGIN_VERSION "\0"
			VALUE "ProductName", "Kadu Instant Messenger\0"
			VALUE "ProductVersion", KADU_VERSION "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
