.in {margin-bottom: 0px;}
.out {margin-bottom: 0px;}

.nameheader {
	position: relative;
	height: 25px;
	top: 0px;
	padding: 0px 0px 0px 0px;
	}
.name {
	position: relative;
	height: 25px;
	top: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	}
.protocol {
	position: absolute;
	height: 18px;
	top: 0px;
	}

.messagebox {
	display: table;
	width:100%;
	}
.messagetop, .messagemid, .messagebot {
	display: table-row;
	}
.messagetopleft, .messagetopcenter, .messagetopright,
.messagemidleft, .messagemidcenter, .messagemidright,
.messagebotleft, .messagebotcenter, .messagebotright {
	display: table-cell;
	}
.messagetopleft, .messagemidleft, .messagebotleft {
	width: 12px;
	}
.messagetopright, .messagemidright, .messagebotright {
	width: 12px;
	}
.messagetopleft, .messagetopcenter, .messagetopright {
	height: 12px;
	}
.messagebotleft, .messagebotcenter, .messagebotright {
	height: 24px;
	}
.messagetextcontainer {
	position:relative;
	margin-top:-3px;
	margin-bottom:-11px;
  }
.message {
	margin-left: 0px;
	}
.messagebox {
	margin-top:-8px;
	margin-bottom:8px;
	}

.status {
	position: relative;
	top: 0px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	}
.statusmessage {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 5px 4px 0px 12px;
	margin: 0px 30px 6px 0px;
	}
.statustime {
	position: relative;
	float: right;
	top: 0px;
	right: 0px;
	padding: 5px 12px 0px 4px;
	margin: 0px 0px 0px 0px;
	}
