@charset "utf-8";

@import url(./_Themes/_Base.css);
@import url(./_Themes/_Compact.css);

body {
	background-image: url(./_Images/board2g.png) !important;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 100%;
}
