# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kadu -caption "%c" %i %m  
Icon=kadu.png
MiniIcon=kadu.png
DocPath=kadu/index.html
Comment=
Comment[de]=
Terminal=0
Name=Kadu
Name[de]=Kadu
